<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Intolerances</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Intolerances</h1>

  <h3>What are your current Intolerances?</h3>
<form action="/intolerances" method="POST">
  <span><%= messages[i].name %></span>
  <span><%= messages[i].msg %></span>
  <span><%= messages[i].thumbUp %></span>
  <button>Add</button>
  </form>

  <h3></h3>

  <script src="main.js"></script>

</body>
</html>
